.landing_anim {
  position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}
.landing_container{
  position: relative; 
  }

.rover {
  position: relative;
  text-align: center;
}

.roverText {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  
}

.instaLink {
  text-decoration: none;
  font-weight: bolder;
}
