.navlink > a {
  text-decoration: none;
  color: white !important;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-weight: 700;
}
/*
a:hover {
  color: cyan !important;
  border-bottom: 5px cyan !important;
} */

.navlink > a:hover {
  color: cyan !important;
  border-bottom: 5px cyan !important  ;
}

.nav-item {
  transition: border-width 0.5s !important;
}
.nav-item:hover {
  border-radius: 30px !important;
  border-bottom: 8px solid white !important;
}

.nav-item:hover > a {
  font-weight: 800;
  color: white;
}
.logo {
  width: 3em;
}
