body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f7f4f2; */
  background-color: #34393f;
  color: #f7f4f2;
}
h1,
h2,
h3,
.fs-1,
.fs-2,
.fs-3 {
  /* font-family: "Red Rose", cursive; */
  /* font-family:'Times New Roman', Times, serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: 'Raleway', sans-serif; */
}
.btn-outline-primary {
  color: #51e8ef !important;
  border: none !important;
  border-color: #51e8ef !important;
}
.btn-outline-primary:hover {
  background-color: #51e8ef !important;
  color: #34393f !important;
}
.btn-outline-primary:active {
  background-color: #51e8ef !important;
  color: #000000 !important;
}
.btn-xl {
  font-size: 2em;
}
.btn-xl:hover {
  color: #51e8ef !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}
.sr-only {
  display: none !important;
}
a:hover{
  color: #51e8ef !important;
}
@media screen and (max-width: 480px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(0);
  }
}
